.pp{
    position: absolute;
    right: 10px;
    top: 8px;
    border-radius: 100%;
    width: 60px;
}

.top-div{
    position: absolute;
    right: 0px;
    width: 470px;
    padding-top: 50px;
}

.current-page{
    display: block;
    color: white;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
    background-color: grey;
    }

.current-page:hover{
    color: rgb(255, 217, 0);
}

.ul {
    position: absolute;
    list-style-type: none;
    margin: auto;
    top: 20px;
    right: 80px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.li {
    float: left;
}

.li-a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
}
  
  /* Change the link color to #111 (black) on hover */
.li-a:hover {
    background-color: #111;
}

body{
    background-color: rgb(35, 39, 42);
    max-width: 100%;
    overflow-x: hidden;
}

.footer {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    color: white;
    font-size: 12.5px;
    text-align: center;
}

.center-div {
    position: absolute;
    display: block;
    left: 0;
    top: 100px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    height: 100vh;
    text-align: center;
}

.left-img {
    float: left;
    margin-right: 20px;
    border-radius: 10px;
    border-width: 3px;
    border-color: white;
    border-style: solid;
}

.left-text {
    text-align: left;
    font-family: "Dancing Script";
    color: rgb(255, 255, 255);
    font-size: 24px;
}

.left-h {
    text-align: left;
    font-family: "Dancing Script";
    color: rgb(255, 255, 255);
    font-size: 32px;
}

.right-img {
    float: right;
    margin-left: 20px;
    border-radius: 10px;
    border-width: 3px;
    border-color: white;
    border-style: solid;
}

.right-text {
    text-align: right;
    font-family: "Dancing Script";
    color: rgb(255, 255, 255);
    font-size: 24px;
}

.right-h {
    text-align: right;
    font-family: "Dancing Script";
    color: rgb(255, 255, 255);
    font-size: 32px;
}

.link {
    color: white;
}