.pp{
    position: absolute;
    right: 10px;
    top: 8px;
    border-radius: 100%;
    width: 60px;
}

.top-div{
    position: absolute;
    right: 0px;
    width: 470px;
    padding-top: 50px;
}

.current-page{
    display: block;
    color: white;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
    background-color: grey;
    }

.current-page:hover{
    color: rgb(255, 217, 0);
}

.ul {
    position: absolute;
    list-style-type: none;
    margin: auto;
    top: 20px;
    right: 80px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.li {
    float: left;
}

.li-a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
}
  
  /* Change the link color to #111 (black) on hover */
.li-a:hover {
    background-color: #111;
}

body{
    background-color: rgb(35, 39, 42);
    max-width: 100%;
    overflow-x: hidden;
}

.footer {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    color: white;
    font-size: 12.5px;
    text-align: center;
}

.left-div {
    position: absolute;
    right: 50%;
    top: 20vh;
    text-align: center;
    padding-right: 2.5%;
}

.right-div {
    position: absolute;
    left: 50%;
    top: 20vh;
    text-align: center;
    padding-left: 2.5%;
}

.tp-div {
    position: absolute;
    top: 0;
    width: 750px;
    left: 50%;
    right: 25%;
    margin-left: -375px;
    text-align: center;
}

.btm-div {
    position: absolute;
    width: 200px;
    left: 50%;
    right: 25%;
    margin-left: -100px;
    top: 160vh;
    text-align: center;
}

.link {
    color: rgb(0, 26, 112);
    background-color: rgb(0, 0, 0);
    border-color: dimgrey;
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
}

.link:hover {
    color: rgb(0, 26, 112);
    background-color: rgb(135, 190, 31);
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
}

h1 {
    font-family: "Barlow Condensed";
    color: white;
    font-size: 5vh;
}

h3 {
    font-family: "Barlow Condensed";
    color: white;
    font-size: 3vh;
}

.p {
    font-family: "Barlow Condensed";
    color: yellow;
    position: relative;
    top: -30vh;
    font-size: 2vh;
    margin-bottom: -20vh
}

ul {
    list-style-type:none;
}

.img {
    height: 30vh;
    border-radius: 50px;
    opacity: 35%;
}

.vl {
    position: absolute;
    display: block;
    top: 20vh;
    width: 0px;
    height: 140vh;
    left: 50%;
    right: 25%;
    border-style: solid;
    border-color: rgba(255, 255, 0, 0.74);
    border-radius: 5px;
}